<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTful X Express</title>
    <link rel="stylesheet" href="<%=url%>/stylesheets/output.css">
    <style>
        .custom-scrollbar {
            --sb-track-color: #046894;
            --sb-thumb-color: #05c9d0;
            --sb-size: 5px;

            scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }

        .custom-scrollbar::-webkit-scrollbar {
            width: var(--sb-size)
        }

        .custom-scrollbar::-webkit-scrollbar-track {
            background: var(--sb-track-color);
            border-radius: 10px;
        }

        .custom-scrollbar::-webkit-scrollbar-thumb {
            background: var(--sb-thumb-color);
            border-radius: 10px;

        }
    </style>
</head>

<body>